<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Market - Inicio</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
    <style>
        * 
      
    
        h2 {
            margin-left: 150px;
            margin-top: 50px;
        }
        #main {
            margin-left: 150px;
            margin-top: 50px;
        }
        

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<base href="bitcoinmarket.com/index">
<body>
    <div style="padding: 60px;
    text-align: left;
    background-color:rgb(96, 225, 251);
    font-size: 30px;
    margin-left: 0px;
    margin-top: 0px;" class="header">

    <h1>myCRYPTO</h1>
    <p>Bienvenido al mercado de intercambio de criptomonedas más grande del mundo</p>
    </div>
    <div id="main">
        <button style="background-color:rgb(96, 225, 251); border:none;
        color: rgb(19, 14, 14);" onclick="location.href = '/';">Atrás</button>
    </div>
    <h2>Estado de la Inversión</h2>
    <br>
    <br>
    <br>
    <p style="width: 451px; display: table; margin-left: 150px;">
        {% for datos in invertido %}
        <span style="display: table-cell; width: 160px; font-size: 30px;">Invertido €: </span>
        <span style="text-align: center; font-size: 30px; display: table-cell; border-bottom: 1px solid black;">{{ datos }}</span>
        {% endfor %}
    </p>
    <br>
    <br>
    <br>
    <p style="width: 451px; display: table; margin-left: 150px;">
        {% for datos in valoractual %}
        <span style="display: table-cell; width: 200px; font-size: 30px;">Valor Actual €: </span>
        <span style="text-align: center; font-size: 30px; display: table-cell; border-bottom: 1px solid black;">{{ datos }}</span>
        {% endfor %}
    </p>
    <footer style="margin-top: 100px;
    padding: 60px;
    text-align: left;
    background-color:  rgb(96, 225, 251);
    font-size: 30px;">
        &copy; 2020 - Todos los derechos reservados
    </footer>
</body>
</html>
